<% if current_user %>
  <h2> Welcome <%= current_user.name %> </h2>
  <div>
  <h3>Number of followers</h3>
  <p><%= current_user %> </p>
  </div>
<% else %>
  <h2>Welcome! <%= link_to  "Sign in with Github", github_login_path %></h2>
<% end %>